body {
    background-color: #3354a5;
    background-image: linear-gradient(90deg, white, #3354a5);

}

.nav-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    list-style-type: none;

    padding-block: 1%;
    width: 8%;
    
    margin-inline: auto;
    justify-content: center;
     

}

.nav-list a {
    flex-shrink: 1;
    flex-grow: 1;

    color: #3354a5;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: center;
    padding-block: 5%;
    width: 120px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    background-color: #e3b068;
    color: #3354a5;
    opacity: 50%;
    text-decoration: none;   
}

    
.nav-list a:hover {
    background-color: #3354a5;
    color: #e3b068;
    opacity: 100%;
    text-decoration: none;
    width: 120px;
    transition: 0.7s;
}

.nav-list .active {
    background-color: #3354a5;
    color: #e3b068;
    text-decoration: none;
    opacity: 100%;
    width: 120px;
    
}

.center {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border-style: solid;
    border-width: 10px;
    border-color: #e3b068;
    border-radius: 10px;
    padding: 4px;
    
}

.undertekst {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    list-style-type: none;

    padding-block: 0px;
    width: 20%;
    height: 65px;
    opacity: 0.8;
    border: solid;
    border-width: 4px;
    border-color: #e3b068;
    border-radius: 10px;
    margin-inline: auto;
    justify-content: center;
    

}

.undertekst h2 {
    flex-shrink: 1;
    flex-grow: 1;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;    



}
.color-tops {
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
    list-style-type: none;
    
    padding-block: 0;
    width: 50%;
    margin-inline: auto;

    opacity: 0.7;
   
}

.color-tops div {
    flex-shrink: 1;
    flex-grow: 1;

    padding-block: 0;
    width: 6%;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}


.tbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 3rem;
    list-style-type: none;

    padding-block: 10px;
    width: 50%;
    margin-inline: auto;

    opacity: 0.7;
    

    
}

.tbox div {
    flex-shrink: 1;
    flex-grow: 1;

    padding-block: 0;
    width: 6%;
    
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 5px;
    border-color: #e3b068;
    text-align: start; 
    


}

.titem1,
.titem2,
.titem3,
.titem4 {
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    list-style-type: none;
    

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    height: 120px;
    
    padding: 5px;
}  

.titem1,
.titem2,
.titem3,
.titem4 div {
    flex-shrink: 1;
    flex-grow: 1;

}

.ingb {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0;
    list-style-type: none;

    padding-block: 0;
    width: 10%;
    height: 40px;

    
    margin-inline: auto;
}

.ingb div {
    flex-shrink: 1;
    flex-grow: 1;
       

}

.ingi {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    list-style-type: none;

    padding-block: 0;
    width: 10%;
    height: 50px;
    position: relative;
    left: 136px;
    top: 45px;

    border: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 10px;
    margin-inline: auto;
    
}

.ingi h2 {
    flex-shrink: 1;
    flex-grow: 1;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bolder;
    line-height: 20%;
    text-align: center;
    position: relative;
    
}



.ibox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0;
    list-style-type: none;

    padding-block: 0;
    width: 30%;
    height: 150px;
    margin-inline: auto;
    
    opacity: 1;
}

.ibox div {
    flex-shrink: 1;
    flex-grow: 1;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border-style: solid;
    border-width: 10px;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 4px;

}

.ibox .in {
    flex-shrink: 1;
    flex-grow: 1;
    text-align: left;

    width: 45%;
    font-size: 15px;
    height: 140px;  

}


.ibox .in1 {
    flex-shrink: 1;
    flex-grow: 1;
    text-align: left;

    position: relative;
    left: 10px;
}

.ibox .in2 {
    flex-shrink: 1;
    flex-grow: 1;
    text-align: right;

    position: relative;
    right: 10px;

}



footer {
    border-style: fixed;
    background-color: #e3b068;
    height: 175px;
    opacity: 0.7;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    list-style-type: none;

    position: relative;
    left: 2%;
    bottom: 30%;
    opacity: 0.7;    

    font-family: Arial, Helvetica, sans-serif;
    margin-inline: right;

}

.contact h3 {
    flex-shrink: 1;
    flex-grow: 1;

    height: 25px;
    width: 200px;

    border: hidden;
    border-color: #000000;
    border-width: 10px;

    position: relative;
    top: 15px;
}

.contact p {
    flex-shrink: 1;
    flex-grow: 1;

    height: 10px;
    width: 170px;
    
    border: hidden;
    border-color: #000000;
    border-width: 10px;

    font-size: 18px;
}




.footerimage {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;

    padding-block: 0%;
    
}

.footerimage a {
    flex-shrink: 1;
    flex-grow: 1;

    height: 10px;
    width: 150px;
    position: relative;
    top: 130px;
    left: 1800px;    
}
    
.footerimage a:hover {
    background-color: #e3b068;

}
